<h3>Repo: Ember.js</h3>
<ul class="repo-nav">
    <li>{{link-to 'Issues' 'org.repo.issues' 'ember.js' 'ember.js'}}</li>
    <li>{{link-to 'Contributors' 'org.repo.contributors' 'ember.js' 'ember.js'}}</li>
</ul>
{{outlet}}
